@using CRR.Models
<div class="mt-1 d-flex justify-content-between align-items-center">
	<h5 class="review-stat">@Rating.Description</h5>
	<div class="ratings">
		<a id="r1" name="r1" role="button" onclick="console.log('@Rating.Description star-1')"><i class="fa fa-star"></i></a>
		<a role="button" onclick="console.log('@Rating.Description star-2')"><i class="fa fa-star"></i></a>
		<a role="button" onclick="console.log('@Rating.Description star-3')"><i class="fa fa-star"></i></a>
		<a role="button" onclick="console.log('@Rating.Description star-4')"><i class="fa fa-star"></i></a>
		<a role="button" onclick="console.log('@Rating.Description star-5')"><i class="fa fa-star"></i></a>
	</div>
</div>

@code {
	[Parameter]
	public Rating Rating { get; set; }	

	
}
