@page
@using CRR.Models
@model CRR.Web.Pages.AddPropertiesModel
@{
}

<div class="container my-3">
	<div class="row">
		<div class="col-10">
			<h4>Your properties</h4>
		</div>
		<div class="col-2 d-flex justify-content-end">
			<button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addProperty">Add new property</button>
		</div>
	</div>
	
	<div class="card my-3">
		<div class="card-body">
			@if(Model.Properties.Count() == 0)
			{
				<div class="alert alert-warning" role="alert">
					You do not own any properties at the moment. Click <a data-bs-toggle="modal" data-bs-target="#addProperty" class="alert-link">here</a> to register your first property.
				</div>
			}
			else
			{
				<table class="table table-sm">
				<thead>
					<tr>
						<th>Type</th>
						<th>Address</th>
						<th>City</th>
						<th>State</th>
						<th>Country</th>
					</tr>
				</thead>
				<tbody>
					@foreach (Property item in Model.Properties)
					{
						<tr>
							<td>@item.Type</td>
							<td>@item.Address</td>
							<td>@item.City</td>
							<td>@item.State</td>
							<td>@item.Country</td>
						</tr>
					}
				</tbody>
			</table>
			}
		</div>
	</div>

	<div class="modal fade py-3" role="dialog" tabindex="-1" id="addProperty" area-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="addPropertyTitle">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content rounded-3 shadow">
				<div class="modal-header border-bottom-0">
					<h5 class="modal-title" id="addPropertyTitle">Add property</h5>
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body p-5 pt-1">
				    <form method="post">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div>
							<label asp-for="PropertyModel.Type" class="form-label">Property Type</label>
							<select asp-for="PropertyModel.Type" class="form-select">
								<option selected disabled value="">Choose...</option>
								<option value="Residential">Residential</option>
								<option value="Commercial">Commercial</option>
							</select>
							<span asp-validation-for="PropertyModel.Type" class="invalid-feedback">
								  Please select a property type.
							</span>
						</div>
						<div class="my-1">
							<label asp-for="PropertyModel.Address" class="form-label">Address</label>
							<input asp-for="PropertyModel.Address" type="text" class="form-control">
							<span asp-validation-for="PropertyModel.Address" class="invalid-feedback">
								Please enter a valid address.
							</span>
						</div>
						<div class="my-1">
							<label asp-for="PropertyModel.City" class="form-label">City</label>
							<input asp-for="PropertyModel.City" type="text" class="form-control">
							<span asp-validation-for="PropertyModel.City" class="invalid-feedback">
								Please enter a valid city.
							</span>
						</div>
						<div class="my-1">
							<label asp-for="PropertyModel.State" class="form-label">State</label>
							<input asp-for="PropertyModel.State" type="text" class="form-control">
							<span asp-validation-for="PropertyModel.State" class="invalid-feedback">
								Please enter a valid State.
							</span>
						</div>
						<div class="my-1">
							<label asp-for="PropertyModel.Country" class="form-label">Country</label>
							<input asp-for="PropertyModel.Country" type="text" class="form-control">
							<span asp-validation-for="PropertyModel.Country" class="invalid-feedback">
								Please enter a valid Country.
							</span>
						</div>
						<div class="modal-footer my-2">
						  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						  <input type="submit" class="btn btn-primary" value="Save"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>