@page
@using CRR.Models
@using System.IO
@using Microsoft.JSInterop
@inject IJSRuntime JS
@model CRR.Web.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<div class="container mt-2">
        
    @if (!User.IsInRole("landlord"))
    {
        <div class="h-100 p-5 bg-light border rounded-3 mb-2">
        <h4 class="h-5">Become a contributor!</h4>
        <p>If you ever happened to interact with tenents that damaged your appartments or houses after taking them on rent, please
            upload their details here so that other people can get benefit from it and keep such tenents away from their
            properties. Upload your tenent details <a class="btn btn-sm btn-outline-secondary" asp-page="/becomeContributor">here.</a>
        </p>
        </div>
    }
    else
    {
        <div class="card my-2 p-2 shadow border-0">
            <div class="card-body">
                <div class="row">
                        <h5>Welcome to Central Rent Register!</h5>
                    <div class="col-md-10">
                        <small class="text-muted">Add your tenant reviews or search for tenants reviewed by other landlords or house owners.</small>
                    </div>
                    <div class="col-md-2 d-flex justify-content-end">
                        <a class="btn btn-sm btn-secondary" asp-page="./AddReview">Review your Tenants</a>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="card my-2 shadow-sm">
        <div class="card-body">
            <h5>Search Tenents</h5>
            <small class="text-muted">Search by tenent CNIC, first names, last names or phone numbers to get property owner's reviews...</small>
            <form>
                <div class="row">
                    <div class="col-md-11">
                        <input class="form-control form-control-dark w-100 rounded-top mt-2 border-1" asp-for="Keyword" type="text" placeholder="Search.." aria-label="Search">
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-outline-primary mt-2">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h5>Search Results</h5>

    @*First row of results*@
    @if(Model.Reviews.Count() == 0)
    {
        <div class="alert alert-info" role="alert">
		    No matching tenants.
		</div>
    }
    else
    {
        <div class="row">
        @foreach (var review in Model.Reviews)
        {
            <div class="col-md-6">
                <div class="card p-3 my-1 shadow-sm">
                    <div class="card-title">
                        <strong>@review?.TenantName</strong>
                    </div>
                    <div class="card-subtitle">
                        <div class="row">
                            <div class="col-md-9">
                                <small class="text-muted"><i class="fa fa-building"></i> @review?.Property?.Address, @review?.Property?.City, @review?.Property?.State, @review?.Property?.Country</small>
                            </div>
                            <div class="d-flex justify-content-end col-md-3">
                                <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#r_@review?.Id"><small><i class="fa fa-eye"></i> <i> View Details</i></small></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="container d-flex justify-content-center align-items-center">
                            <div class="card border-0 p-3">
                                <div class="d-flex mb-4 justify-content-between align-items-center">
                                        <div class="ratings">
                                        @for (int i = 1; i < 6; i++)
                                        {
                                            if(i <= review?.RatingOverview)
                                            {
                                                <i class="fa fa-star rating-color"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                        }
                                    </div>
                                        <h5 class="review-count">@review?.RatingOverview stars</h5>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Modal*@
            <div class="modal fade py-3" role="dialog" tabindex="-1" id="r_@review?.Id" aria-hidden="true" aria-labelledby="@review?.TenantName">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content rounded-3 shadow">
                        <div class="modal-header border-bottom-0">
                            <h5 class="modal-title" id="@review?.TenantName">@review?.TenantName</h5>
        					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
        
                        <div class="modal-body p-5 pt-1">
                            <hr/>
                            <h6><i class="fa fa-star"></i> Overview</h6>
                            <div class="height-100 container d-flex justify-content-center align-items-center">
                                <div class="card border-0 p-3">
                                    <div class="d-flex mb-4 justify-content-between align-items-center">
                                        <div class="ratings">
                                        @for (int i = 1; i < 6; i++)
                                        {
                                            if(i <= review?.RatingOverview)
                                            {
                                                <i class="fa fa-star rating-color"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                        }
                                    </div>
                                        <h5 class="review-count">@review?.RatingOverview stars</h5>
                                    </div>
                                    
                                @foreach (var rating in review.Ratings)
                                {
                                    <div class="mt-1 d-flex justify-content-between align-items-center">
                                        <h5 class="review-stat">@rating.Description</h5>
                                        <div class="small-ratings">
                                            @for (int i = 1; i < 6; i++)
                                            {
                                                if(i <= rating.Value)
                                                {
                                                    <i class="fa fa-star rating-color"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                                </div>
                            </div>
                            <hr/>
                            <h6><i class="fa fa-file-text"></i> Details</h6>
                            <p>
                                @review.Details
                            </p>
        
                            <hr/>
                            <h6><i class="fa fa-calendar-o"></i> Stay Duration</h6>
                            <p>
                                @review.StayDuration
                            </p>
        
                            <hr/>
                            <h6><i class="fa fa-building"></i> Location</h6>
                            <p>
                                @review?.Property?.Address, @review?.Property?.City, @review?.Property?.State, @review?.Property?.Country
                            </p>
        
                            <hr/>
                            <h6><i class="fa fa-address-book"></i> CNIC</h6>
                            <p>
                                @review?.TenantCNIC
                            </p>
        
                            
                            <hr/>
                            <h6><i class="fa fa-link"></i> Attachments</h6>
        
                            @if(review?.Attachments.Count == 0)
                            {
                                <div class="alert alert-info" role="alert">
        		                    No attachments provided.
        		                </div>
                            }
                            else
                            {
                                @foreach (var item in review.Attachments)
                                {
                                    <form asp-page-handler="Download" method="post" asp-route-id="@item.Id">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary my-1"><i class="fa fa-download"></i> @item.Name</button>
                                    </form>
                                }

                                @if(TempData["Notification"] != null)
                                {
                                    <div class="alert alert-info alert-dismissible fade show" role="alert">
	                                    @TempData["Notification"]
	                                	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	                                </div>
                                }
                            }
        
                            <hr/>
                            <div class="card">
                                <div class="card-header">
                                  About reviewer
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@review?.ApplicationUser?.UserName</h5>
                                    <p class="card-text">
                                        @review?.ApplicationUser?.About
                                    </p>
                                    @*<div class="d-flex justify-content-end">
                                        <a href="#" class="btn btn-outline-primary btn-sm">View Profile</a>
                                    </div>*@
                                </div>
                                <div class="card-footer d-flex justify-content-end text-muted">
                                  <small>Posted on @review?.Date.ToShortDateString()</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
        <div class="h-100"></div>
        <div class="d-flex justify-content-center">
            <p class="text-danger"><small>***End of Results***</small></p>
        </div>
    }


    <!-- Insights -->
    <div class="card my-2">
        <div class="card-body">
            <h6 class="card-title">Platform Insights</h6>
          <div class="row my-2">
              <div class="col-4 box-shadow">
                  <div class="card">
                      <div class="card-body">
                          <h6><i class="fa fa-files-o"></i> @Model.Insight.Reviews reviews</h6>
                      </div>
                  </div>
              </div>
              <div class="col-4 shadow-sm">
                  <div class="card">
                      <div class="card-body">
                          <h6><i class="fa fa-users"></i> @Model.Insight.Users Users</h6>
                      </div>
                  </div>
              </div>
              <div class="col-4 shadow-sm">
                  <div class="card">
                      <div class="card-body">
                          <h6><i class="fa fa-building"></i> @Model.Insight.Properties Properties</h6>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>